<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exphare - Aprenda mais!</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark" style="background-color: #12111c;">
        <div class="container-fluid">
            <div class="nav-content">
                <a class="navbar-brand" href="/">
                    <img src="/assets/favicon-96x96.png" alt="" width="30" height="30" class="d-inline-block align-top">
                    Exphare - Aprenda mais!
                </a>
            </div>
        </div>
    </nav>
    <div class="background" />