<%- include('partials/header') -%>
<div class="container">
    <div class="card text-center border border-primary" style="background-color: #12111c;">
        <img src="/assets/card.jpg" class="card-img" alt="Exphare - Aprenda mais!" />
        <br>
        <h5 class="card-title text-white">Exphare - Aprenda mais!</h5>
        <div class="card-body">
            <div class="input-group">
                <span class="input-group-text">Usuário</span>
                <input type="text" placeholder="username" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text">Senha</span>
                <input type="password" placeholder="password" class="form-control"></input>
            </div>
            <br>
            <form action="/auth">
                <button class="btn btn-primary" type="submit" >
                    Entrar
                </button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>